/* ========= Start Global Rules =========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background-color: lightblue;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

body::-webkit-scrollbar-corner {
  border-radius: 10px;
  background-color: lightblue;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

video {
  height: auto;
  max-width: 100%;
}

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

::-moz-selection {
  color: #fff;
  background: var(--primary-clr);
}

::selection {
  color: #fff;
  background: var(--primary-clr);
}

/* ========= End Global Rules ===========*/
/* ====== Start Typography Rules ========*/
body {
  line-height: 1.5;
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: var(--background-clr);
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  font-family: var(--title-font);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

/* ======= End Typography Rules =========*/
/* ========== Start Variables ===========*/
:root {
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --light-clr: #bababa;
  --dark-clr: #2B2B2B;
  --foreground-clr: linear-gradient(to bottom, #dbd8d6 0%, #ededec 13%, #ededec 86%, #dbd8d6 99%, #dbd8d6 100%);
  --background-clr: #f5f5f5;
  --title-clr: #535362;
  --text-clr: #1b1b1b;
  --primary-clr: #13b0d7;
  --primary-alt-clr: #21688e7f;
  --danger-clr: #d20000;
  --secondary-clr: #9f2f0a;
  /* === Family Fonts === */
  --body-font: "open Sans", sans-serif;
  --title-font: "Merriweather", sans-serif;
  /* === Box Shadows === */
  --box-shadow: 0px 0px 20px rgba(152, 152, 152, 0.33);
  /* === Line Height === */
  --line-height-lg: 2;
  /* === Transition === */
  --transition: 0.5s;
  /* === Border Radius === */
  --border-radius: 5px;
  --border-radius-lg: 10px;
  /* === Spaces === */
  --space-sm: 0.625rem;
  --space-md: 1.25rem;
  --space-lg: 3.125rem;
  --space-xlg: 6.25rem;
}

/* =========== End Variables ============*/
/* ========== Start light Theme =========*/
body.light {
  --white-clr: #fff;
  --black-clr: #000;
  --light-clr: #bababa;
  --dark-clr: #2B2B2B;
  --foreground-clr: linear-gradient(to bottom, #dbd8d6 0%, #ededec 13%, #ededec 86%, #dbd8d6 99%, #dbd8d6 100%);
  --background-clr: #f5f5f5;
  --title-clr: #535362;
  --text-clr: #1b1b1b;
  --primary-clr: #13b0d7;
  --primary-alt-clr: #21688e7f;
  --danger-clr: #d20000;
}

/* =========== End light Theme ==========*/
/* ========== Start Dark Theme ==========*/
@media (prefers-color-scheme: dark) {
  :root {
    --white-clr: #000;
    --black-clr: #fff;
    --light-clr: #303030;
    --dark-clr: #ddd;
    --foreground-clr: linear-gradient(to bottom, #2B2B2B 0%, #1F1F1F 13%, #1F1F1F 86%, #2B2B2B 99%, #2B2B2B 100%);
    --background-clr: #1F1F1F;
    --title-clr: #e3796a;
    --text-clr: #F0F4F5;
    --primary-clr: #0093b8;
    --primary-alt-clr: #21688e7f;
    --danger-clr: #d20000;
  }
  :root img {
    filter: brightness(90%);
  }
}
body.dark {
  --white-clr: #000;
  --black-clr: #fff;
  --light-clr: #303030;
  --dark-clr: #ddd;
  --foreground-clr: linear-gradient(to bottom, #2B2B2B 0%, #1F1F1F 13%, #1F1F1F 86%, #2B2B2B 99%, #2B2B2B 100%);
  --background-clr: #1F1F1F;
  --title-clr: #e3796a;
  --text-clr: #F0F4F5;
  --primary-clr: #0093b8;
  --primary-alt-clr: #21688e7f;
  --danger-clr: #d20000;
}
body.dark img {
  filter: brightness(90%);
}

/* =========== End Dark Theme ===========*/
/* ======= Start common Styles ========= */
.title {
  position: relative;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.title::before, .title::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 54px;
  border: 1px solid var(--light-clr);
  background-color: var(--light-clr);
}
.title::before {
  left: -10px;
}
.title::after {
  right: -10px;
}
.title h2 {
  position: relative;
  text-transform: uppercase;
  color: var(--title-clr);
}
.title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -17px;
  border-top: 1px solid var(--light-clr);
}
.title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%);
  background-color: var(--light-clr);
}
.title img {
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 44px;
  transform: translateX(-50%);
}

/* ========= End common Styles ========= */
/* =========== Start Header ===========  */
header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 40px;
  border-bottom: 1px solid var(--primary-alt-clr);
}
@media (min-width: 768px) {
  header .content {
    height: 50px;
  }
}
header .content .logo {
  position: absolute;
  top: 45px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--text-clr);
  text-transform: capitalize;
  border: 2px solid var(--primary-clr);
  border-left-style: dotted;
}
@media (min-width: 768px) {
  header .content .logo {
    position: static;
  }
}
header .content > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .content > ul li {
  height: 30px;
  width: 30px;
}
header .content > ul li:last-child {
  height: 35px;
  width: 35px;
}
header .content > ul li:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 768px) {
  header .content > ul li:not(:last-child) {
    margin-right: 40px;
  }
}
header .content .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .content button {
  width: 35px;
  height: 30px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  background-color: wheat;
}
header .content button img {
  width: 100%;
}
header .content .website__lang {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  z-index: 3;
  color: var(--text-clr);
  border-left: 1px solid var(--black-clr);
}
header .content .website__lang img:first-child {
  width: 30px;
  padding-right: 3px;
}
header .content .website__lang .flag {
  position: relative;
  bottom: -3px;
}
header .content .website__lang.open .lang__list {
  display: block !important;
}
header .content .website__lang.open .arrow {
  transform: rotate(180deg);
}
header .content .arrow {
  position: relative;
  top: 3px;
  width: 15px;
  transition: var(--transition);
}
header .content .lang__list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
  background: var(--foreground-clr);
}
header .content .lang__list a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px 10px;
}
header .content .lang__list a:hover {
  background-color: var(--primary-alt-clr);
}
header .content .lang__list span {
  color: var(--black-clr);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 50px;
  padding-block: 10px;
}
@media (min-width: 768px) {
  header nav {
    height: unset;
    max-width: 50rem;
    margin: 0 auto;
  }
}
header nav .toggle__manu {
  width: 35px;
  cursor: pointer;
  transition: var(--transition);
  transition-delay: 0.4s;
}
@media (min-width: 768px) {
  header nav .toggle__manu {
    display: none;
  }
}
header nav .toggle__manu span {
  display: block;
  height: 3px;
  width: 100%;
  transition: var(--transition);
  background-color: var(--primary-clr);
}
header nav .toggle__manu span:not(:last-child) {
  margin-bottom: 5px;
}
header nav .toggle__manu.open {
  transform: rotate(-45deg);
}
header nav .toggle__manu.open span:first-child {
  transform: translateY(10px);
  transition-delay: 0.2s;
  background-color: var(--danger-clr);
}
header nav .toggle__manu.open span:nth-child(2) {
  transform: translateX(-15px);
  opacity: 0;
}
header nav .toggle__manu.open span:last-child {
  transform: rotate(-90deg) translateX(6px);
  transition-delay: 0.2s;
  background-color: var(--danger-clr);
}
header nav .toggle__manu.open ~ ul {
  opacity: 1 !important;
  z-index: 2 !important;
  bottom: -133px !important;
}
header nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  bottom: -160px;
  width: 100%;
  opacity: 0;
  z-index: -2;
  transition: var(--transition);
  transition-delay: 0.2s;
  border-radius: 0 0 5px 5px;
  background: var(--foreground-clr);
}
@media (min-width: 768px) {
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    opacity: 1;
    z-index: 2;
    background-color: transparent;
  }
}
header nav ul li {
  padding-block: 10px;
  border-radius: 5px;
  transition: var(--transition);
}
header nav ul li:hover {
  background-color: var(--primary-alt-clr);
}
header nav ul a {
  text-align: center;
}
@media (min-width: 768px) {
  header nav ul a {
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    padding-inline: 10px;
  }
}
header nav ul a img {
  display: block;
  width: 25px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  header nav ul a img {
    display: inline;
    margin: unset;
  }
}
header nav ul a span {
  display: block;
  font-size: 14px;
  color: var(--text-clr);
}
@media (min-width: 768px) {
  header nav ul a span {
    display: inline;
    font-size: unset;
  }
}

/* =========== End Header =============  */
/* =========== Start Landing =========== */
.landing {
  min-height: 220px;
  background: var(--primary-clr) url(../assets/images/landing.jpg) top center/cover;
}
@media (min-width: 768px) {
  .landing {
    min-height: 550px;
  }
}

/* =========== End Landing ============= */
/* =========== Start About ============= */
.about {
  padding-block: 50px;
  background: var(--foreground-clr);
}
@media (min-width: 768px) {
  .about .content {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.about .img-holder {
  height: 400px;
  border-radius: 5px;
  background: var(--primary-alt-clr) url(../assets/images/about.jpg) center center/cover;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 576px) {
  .about .img-holder {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .about .filter {
    width: 50%;
  }
}
.about .filter > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about .filter > ul {
    padding-top: 0;
  }
}
.about .filter > ul li {
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--black-clr);
  transition: var(--transition);
  border: 1px solid var(--primary-alt-clr);
}
.about .filter > ul li.active, .about .filter > ul li:hover, .about .filter > ul li:focus {
  color: var(--white-clr);
  border-color: var(--primary-alt-clr);
  background-color: var(--primary-alt-clr);
}
.about .filter .info > div {
  display: none;
  margin-bottom: 20px;
  color: var(--text-clr);
  line-height: var(--line-height);
}
@media (min-width: 576px) {
  .about .filter .info > div {
    min-height: 290px;
  }
}
.about .filter .info > div a {
  color: inherit;
  transition: var(--transition);
  text-decoration: underline;
}
.about .filter .info > div a:hover {
  color: var(--primary-clr);
}
.about .filter .info > div:nth-child(2) {
  gap: 1.25rem;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}
.about .filter .info > div:nth-child(2) div {
  margin-block: 20px;
}
.about .filter .info > div:nth-child(2) h4 {
  color: var(--title-clr);
}
.about .filter .info div.active {
  display: flex;
}
.about .filter > a {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text-clr);
  transition: var(--transition);
  color: var(--white-clr);
  background-color: var(--light-clr);
}
.about .filter > a:hover, .about .filter > a:focus {
  background-color: var(--primary-alt-clr);
}
.about .filter > a img {
  width: 15px;
  margin-left: 5px;
}

/* ============ End About ============== */
/* =========== Start Skills ============ */
.skills {
  padding-block: 50px;
}
.skills .content {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 30px;
}
@media (min-width: 576px) {
  .skills .content {
    grid-template-columns: auto auto auto;
  }
}
@media (min-width: 768px) {
  .skills .content {
    grid-template-columns: auto auto auto auto;
  }
}
.skills .skill {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.skills .progress {
  position: relative;
}
.skills .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.skills .percentage span:first-child {
  font-weight: 600;
  font-size: 1.125rem;
  margin-right: 2px;
}
.skills .percentage span:last-child {
  font-size: 10px;
}
.skills svg {
  width: 117px;
  height: 117px;
}
.skills circle {
  fill: var(--primary-alt-clr);
  stroke-width: 0.5rem;
  transition: 3s;
  stroke-dasharray: 314.2033691406;
}
.skills circle:first-child {
  stroke: var(--light-clr);
}
.skills circle:last-child {
  stroke: var(--primary-clr);
  stroke-dashoffset: 314.2033691406;
}
.skills .name {
  color: var(--black-clr);
}

/* ============ End Skills ============= */
/* ========== Start Portfolio ========== */
.portfolio {
  padding-block: 50px;
  background: var(--foreground-clr);
}
.portfolio .filter ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  max-width: 300px;
  margin: 0 auto;
}
.portfolio .filter ul li {
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--black-clr);
  transition: var(--transition);
  border: 1px solid var(--primary-alt-clr);
}
.portfolio .filter ul li.active,
.portfolio .filter ul li:hover,
.portfolio .filter ul li:focus {
  color: var(--white-clr);
  border-color: var(--primary-alt-clr);
  background-color: var(--primary-alt-clr);
}
.portfolio .filter .project {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  padding-top: 50px;
  gap: 30px;
}
@media (min-width: 576px) {
  .portfolio .filter .project {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 992px) {
  .portfolio .filter .project {
    grid-template-columns: auto auto auto;
  }
}
.portfolio .filter .project .all {
  position: relative;
  transform-style: preserve-3d;
  transition: var(--transition);
  width: 325px;
  height: 220px;
}
.portfolio .filter .project .all .face {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.portfolio .filter .project .all .face.front {
  width: 100%;
  overflow: hidden;
}
.portfolio .filter .project .all .face.front .img-holder {
  width: 100%;
  height: 84%;
  overflow: hidden;
  margin-bottom: 10px;
}
.portfolio .filter .project .all .face.front .img-holder img {
  max-height: unset;
  transition: 10s;
}
.portfolio .filter .project .all .face.front .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio .filter .project .all .face.front .btns button {
  width: 45%;
  height: 25px;
  cursor: pointer;
}
.portfolio .filter .project .all .face.back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  color: var(--text-clr);
  transform: rotateY(180deg);
  background-color: var(--light-clr);
}
.portfolio .filter .project .all .face.back span {
  font-weight: bold;
  color: var(--title-clr);
}
.portfolio .filter .project .all .face.back .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.625rem;
}
.portfolio .filter .project .all .face.back .links a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 3px;
       column-gap: 3px;
  border-radius: 10px;
  padding: 5px 10px;
  transition: var(--transition);
  border: 1px solid var(--primary-clr);
}
.portfolio .filter .project .all .face.back .links a span {
  font-weight: normal !important;
  color: var(--text-clr) !important;
}
.portfolio .filter .project .all .face.back .links a:hover, .portfolio .filter .project .all .face.back .links a:focus {
  background-color: var(--primary-clr);
}
.portfolio .filter .project .all .face.back .links img {
  width: 15px;
}
.portfolio .filter .project .all.fliped {
  transform: rotateY(-180deg);
}

/* =========== End Portfolio =========== */
/* ============ Start Hiring =========== */
.hiring {
  display: grid;
  align-items: center;
  text-align: center;
  position: relative;
  padding-block: 50px;
  height: 300px;
  background: var(--primary-alt-clr) url("../assets/images/hire.jpeg") center center/cover;
}
.hiring::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #00000082;
}
.hiring .container {
  z-index: 1;
}
.hiring p {
  color: #ff8f24;
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.hiring h2 {
  color: #03dac5;
  text-transform: capitalize;
}
.hiring a {
  font-size: 1.125rem;
  padding: 10px 15px;
  border-radius: 20px;
  text-transform: capitalize;
  transition: var(--transition);
  color: #F0F4F5;
  background-color: var(--primary-alt-clr);
}
.hiring a:hover, .hiring a:focus, .hiring a:active {
  background-color: var(--primary-clr);
}

/* ============= End Hiring ============ */
/* ============ Start Contact ========== */
.contact {
  padding-block: 50px;
  background: var(--foreground-clr);
}
.contact form {
  max-width: 50rem;
  margin: 0 auto;
}
.contact .fields {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .contact .fields {
    grid-template-columns: auto auto;
  }
}
.contact input {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  transition: var(--transition);
}
.contact input:focus::-moz-placeholder {
  opacity: 0;
}
.contact input:focus:-ms-input-placeholder {
  opacity: 0;
}
.contact input:focus::placeholder {
  opacity: 0;
}
.contact textarea {
  height: 100px;
  width: 100%;
  resize: none;
  padding: 10px;
  overflow-y: auto;
  margin-block: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
}
.contact textarea:focus::-moz-placeholder {
  opacity: 0;
}
.contact textarea:focus:-ms-input-placeholder {
  opacity: 0;
}
.contact textarea:focus::placeholder {
  opacity: 0;
}
.contact input[type=submit] {
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: var(--white-clr);
  transition: var(--transition);
  background-color: var(--primary-clr);
}
.contact input[type=submit]:hover, .contact input[type=submit]:focus {
  background-color: var(--primary-alt-clr);
}
@media (min-width: 576px) {
  .contact input[type=submit] {
    width: 150px;
  }
}

/* ============= End Contact =========== */
/* ============ Start Footer =========== */
footer {
  background-color: var(--dark-clr);
}
footer .copyright {
  padding-block: 10px;
  text-align: center;
  font-size: 1.125rem;
  color: var(--white-clr);
}
footer .copyright .heart {
  color: var(--secondary-clr);
  margin-inline: 0.1875rem;
}
footer .copyright .author {
  font-weight: 600;
  margin-inline: 0.1875rem;
  color: var(--primary-clr);
}

/* ============ End Footer ============= */
/* =========== Start Animation ========= */
/* =========== End Animation =========== */
/*# sourceMappingURL=styles.css.map */